version: '2.1'

volumes:
  pihole_config:
  dnsmasq_config:
  dnscrypt_config:
  config:

services:
  pihole:
    build: ./pihole
    privileged: true
    volumes:
      - 'pihole_config:/etc/pihole'
      - 'dnsmasq_config:/etc/dnsmasq.d'
    dns:
      - '127.0.0.1'
      - '1.1.1.1'
    network_mode: host

  # set pihole DNS1 and DNS2 service variables to 127.0.0.1#5053 to use dnscrypt-proxy for upstream DNS
  dnscrypt-proxy:
    build: ./dnscrypt-proxy
    volumes:
      - 'dnscrypt_config:/config'
    ports:
      - '5053:5053/udp'

  # add homeassistant config    
  homeassistant:
    image: homeassistant/raspberrypi4-homeassistant:stable
    #build: homeassistant
    network_mode: host
    ports:
      - 8123:8123    
    privileged: true
    volumes:
      - config:/config
    restart: always
    devices:
      - "/dev:/dev"
      - "/dev/serial/by-id/usb-0658_0200-if00:/dev/zwave"      
      
  hass-configurator:
    image: "causticlab/hass-configurator-docker:arm"
    restart: always
    ports:
      - "8080:3218"
    volumes:
      - 'config:/hass-config'
    environment:
      - HC_BASEPATH=/hass-config      

  # add mqtt
  mqtt:
    image: arm64v8/eclipse-mosquitto
    ports:
      - 1883:1883
      
  #add cli for HA
  cli:
    build: cli
    ports:
      - 22:22/tcp
    volumes:
      - config:/config

